$body-background-color: #111;
$sidebar-color: #171717;
$feedback-color: #222;
$code-background-color: #1D1D1D;

$body-text-color: $grey-lt-100;
$body-heading-color: #D6B464;
$link-color: #DE3526;

$border-color: $grey-dk-200;

$nav-width: 250px;
$content-width: 850px;
$header-height: 80px;
$gutter-spacing: $sp-5;

$body-line-height: 1.3;
$content-line-height: 1.4;
$body-heading-line-height: 1.5;
$font-size-3: 14px;
// left navbar font size
$font-size-4: 18px;
// paragraph font size
$font-size-5: 16px;

