<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
	<!-- we store test audio files in RAM for quicker access, need to request large heap memory -->
	<application
			android:largeHeap="true"
			tools:node="merge" />
</manifest>
